form.cart div.quantity.buttons_added {
  display: none !important;
}
form.cart button.single_add_to_cart_button {
  display: none !important;
}
.products .product .product-image .add_to_cart.ajax_add_to_cart {
  display: none !important;
}
.header .social-holder #quick_cart {
  display: none ;
}
